*{
  box-sizing: border-box;
}
body{
  margin: 0;
  overflow: hidden;
}
.section{
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.wrap-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.on{
  opacity: 1;
}
.off{
  opacity: 0;
}
.btn{
  margin-right: -52px;
}
.btn1{
  margin-left: -52px;
}
