/*
  color: #DEE7FF - МЕТАЛЛОРЕЖУЩИЙ ИНСТРУМЕНТ
  color: #FFD600 - ОПТОМ И В РОЗНИЦУ (желтый)
  color: #FFFFFF - БЕЛЫЙ
  color: #000000 - ЧЕРНЫЙ
  color: #DDDDDD - СЕРЫЙ (footer)
  color: #00000F - ТЕМНО СИНИЙ
*/
body{
  font-family: 'Exo 2', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  position: inherit;
  margin-right: auto;
  margin-left: auto;
}
.container{
  margin:  0 auto;
}
.header{
  background-image: url('../img/frame.jpg');
  width: 1920px;
  height: 1080px;
}
ul, li {
  margin-top: 20px;
  display: block;
  padding: 0;
}
a{
  text-decoration: none;
  transition: all 0.5s ease;
}
a:hover{
  color: #fff;
}
.nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.logo{
  margin-left: 355px;
}
.menu{
  display: flex;
}
.menu__item{
  margin-right: 63px;
}
.menu__item a{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 26px;
  text-transform: uppercase;

  color: #BDCEFA;
}
.menu__item a:hover{
  color: #fff;
  font-size: 25px;
  margin-left: -5px;
}
.btn_mail{
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #BDCEFA;
}
.btn_phone{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;

  color: #BDCEFA;
}
.namecomp{
  position: absolute;
  width: 1105px;
  height: 58px;
  left: 405px;
  top: 461px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  text-align: center;

  color: #DEE7FF;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
.opt{
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 42px;
  color: #FFD600;
  /* identical to box height */
  text-align: center;
  position: absolute;
  width: 588px;
  height: 49px;
  left: 675px;
  top: 531px;
  border-radius: 15px;
  background: #00000F;
}
.whymebest{
  background: url('../img/whymebest.jpg') no-repeat center top;
  position: absolute;
  width: 1920px;
  height: 77px;
  left: 0px;
  top: 920px;
  z-index: 1;
}
.bgtools{
  background: url('../img/background_tools.jpg') no-repeat center top;
  position: absolute;
  width: 1920px;
  height: 875px;
  top: 980px;
  z-index: 0;
}
.champ{
  background: url('../img/champ.png') no-repeat center top;
  position: absolute;
  width: 330px;
  height: 462px;
  left: 815px;
  top: 5px;
}
.masterimg{
  background: url('../img/master.png') no-repeat center top;
  position: absolute;
  width: 135px;
  height: 135px;
  left: 728px;
  top: 99px;
}
.mastertext{
  position: absolute;
  width: 273px;
  height: 34px;
  right: 171px;
  top: 10px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;

}
.mastertext1{
  position: absolute;
  width: 296px;
  height: 48px;
  right: 160px;
  top: 50px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.moneyimg{
  background: url('../img/money.png') no-repeat center top;
  position: absolute;
  width: 135px;
  height: 135px;
  left: 1071px;
  top: 99px;
}
.moneytext{
  position: absolute;
  width: 324px;
  height: 34px;
  left: 150px;
  top: 10px;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}
.moneytext1{
  position: absolute;
  width: 308px;
  height: 72px;
  left: 160px;
  top: 50px;
  font-family: Exo 2;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.starimg{
  background: url('../img/star.png') no-repeat center top;
  position: absolute;
  width: 135px;
  height: 135px;
  left: 728px;
  top: 391px;
}
.startext{
  position: absolute;
  width: 273px;
  height: 34px;
  right: 171px;
  top: 10px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;

}
.startext1{
  position: absolute;
  width: 296px;
  height: 48px;
  right: 160px;
  top: 50px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.drillimg{
  background: url('../img/drill.png') no-repeat center top;
  position: absolute;
  width: 135px;
  height: 135px;
  left: 1071px;
  top: 391px;
}
.drilltext{
  position: absolute;
  width: 324px;
  height: 34px;
  left: 150px;
  top: 10px;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}
.drilltext1{
  position: absolute;
  width: 308px;
  height: 72px;
  left: 160px;
  top: 50px;
  font-family: Exo 2;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.pointnaim{
  background: url('../img/naimenovaniy.png') no-repeat center top;
  position: absolute;
  width: 454px;
  height: 80px;
  left: 329px;
  top: 1587px;
}
.pointtovar{
  background: url('../img/tovarivnal.png') no-repeat center top;
  position: absolute;
  width: 454px;
  height: 80px;
  left: 735px;
  top: 1587px;

}
.pointlet{
  background: url('../img/letnarinke.png') no-repeat center top;
  position: absolute;
  width: 427px;
  height: 80px;
  left: 1146px;
  top: 1587px;
}
.katalogimg{
  background: url('../img/katalog.jpg') no-repeat center top;
  position: absolute;
  width: 1920px;
  height: 77px;
  left: 0px;
  top: 1783px;
}
.katbg{
  position: absolute;
  width: 1920px;
  height: 1363px;
  left: 0px;
  top: 1823px;
  background: #00000F;
}
.katbg1{
  position: absolute;
  width: 1206px;
  height: 1231px;
  left: 355px;
  top: 1897px;
  background: #0C0C0C;
  filter: blur(33px);
}
.katt{
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}
.img1{
  background: url('../img/011.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 410px;
  top: 1986px;
}
.img1:hover{
  background: url('../img/011a.png');
}
.img2:hover{
  background: url('../img/012a.png');
}
.img3:hover{
  background: url('../img/013a.png');
}
.img4:hover{
  background: url('../img/014a.png');
}
.img5:hover{
  background: url('../img/015a.png');
}
.img6:hover{
  background: url('../img/016a.png');
}
.img7:hover{
  background: url('../img/017a.png');
}
.img8:hover{
  background: url('../img/018a.png');
}
.img9:hover{
  background: url('../img/019a.png');
}
.img10:hover{
  background: url('../img/20a.png');
}
.img11:hover{
  background: url('../img/21a.png');
}
.img12:hover{
  background: url('../img/22a.png');
}
.img13:hover{
  background: url('../img/23a.png');
}
.img14:hover{
  background: url('../img/24a.png');
}
.img15:hover{
  background: url('../img/25a.png');
}
.img16:hover{
  background: url('../img/26a.png');
}
.kimg1{
  position: absolute;
  left: 476px;
  top: 1920px;
}
.img2{
  background: url('../img/012.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 702px;
  top: 1986px;
}
.kimg2{
  position: absolute;
  left: 679px;
  top: 1920px;
}
.img3{
  background: url('../img/013.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 994px;
  top: 1986px;
}
.kimg3{
  position: absolute;
  left: 1069px;
  top: 1920px;
}
.img4{
  background: url('../img/014.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 1286px;
  top: 1986px;
}
.kimg4{
  position: absolute;
  left: 1356px;
  top: 1920px;
}
.img5{
  background: url('../img/015.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 410px;
  top: 2289px;
}
.kimg5{
  position: absolute;
  left: 476px;
  top: 2223px;
}
.img6{
  background: url('../img/016.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 702px;
  top: 2289px;
}
.kimg6{
  position: absolute;
  left: 679px;
  top: 2223px;
}
.img7{
  background: url('../img/017.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 994px;
  top: 2289px;
}
.kimg7{
  position: absolute;
  left: 1059px;
  top: 2223px;
}
.img8{
  background: url('../img/018.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 1286px;
  top: 2289px;
}
.kimg8{
  position: absolute;
  left: 1266px;
  top: 2223px;
}
.img9{
  background: url('../img/019.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 410px;
  top: 2592px;
}
.kimg9{
  position: absolute;
  left: 386px;
  top: 2526px;
}
.img10{
  background: url('../img/20.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 702px;
  top: 2592px;
}
.kimg10{
  position: absolute;
  left: 723px;
  top: 2526px;
}
.img11{
  background: url('../img/21.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 994px;
  top: 2592px;
}
.kimg11{
  position: absolute;
  left: 1055px;
  top: 2526px;
}
.img12{
  background: url('../img/22.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 1286px;
  top: 2592px;
}
.kimg12{
  position: absolute;
  left: 1337px;
  top: 2526px;
}
.img13{
  background: url('../img/23.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 410px;
  top: 2895px;
}
.kimg13{
  position: absolute;
  left: 466px;
  top: 2829px;
}
.img14{
  background: url('../img/24.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 702px;
  top: 2895px;
}
.kimg14{
  position: absolute;
  left: 759px;
  top: 2829px;
}
.img15{
  background: url('../img/25.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 994px;
  top: 2895px;
}
.kimg15{
  position: absolute;
  left: 965px;
  top: 2829px;
}
.img16{
  background: url('../img/26.png') no-repeat center top;
  position: absolute;
  width: 221px;
  height: 221px;
  left: 1286px;
  top: 2895px;
}
.kimg16{
  position: absolute;
  left: 1307px;
  top: 2829px;
}
.bgteam{
  position: absolute;
  width: 1920px;
  height: 486px;
  left: 0px;
  top: 3185px;
  background: #FFFFFF;
  z-index: 0;
}
.teamimg{
  background: url('../img/team.png') no-repeat center top;
  position: absolute;
  width: 454px;
  height: 48px;
  left: 733px;
  top: 3195px;
  z-index: 1;
}
.t1{
  background: url('../img/t1.png') no-repeat center top;
  position: absolute;
  width: 190px;
  height: 190px;
  left: 407px;
  top: 3323px;
}
.t2{
  background: url('../img/t4.png') no-repeat center top;
  position: absolute;
  width: 190px;
  height: 190px;
  left: 646px;
  top: 3323px;
}
.t3{
  background: url('../img/t5.png') no-repeat center top;
  position: absolute;
  width: 190px;
  height: 190px;
  left: 873px;
  top: 3323px;
}
.t4{
  background: url('../img/t3.png') no-repeat center top;
  position: absolute;
  width: 190px;
  height: 190px;
  left: 1099px;
  top: 3323px;
}
.t5{
  background: url('../img/t2.png') no-repeat center top;
  position: absolute;
  width: 190px;
  height: 190px;
  left: 1323px;
  top: 3323px;
}
.commandh{
  position: absolute;
  top: 175px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.commandp{
  position: absolute;
  top: 195px;
  font-family: Exo 2;
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.qwe{
  left: 65px;
}
.team1{
  top: 230px;
  left: 40px;
}
.team2{
  left: 35px;
}
.team4{
  left: 30px;
}
.team5{
  left: 40px;
}
.map{
  position: absolute;
  width: 1140px;
  height: 362px;
  left: 390px;
  top: 3702px;
}
.topfooter{
  background: url('../img/topfooter.png') no-repeat center top;
  position: absolute;
  width: 1920px;
  height: 574px;
  left: -390px;
  top: -51px;
}
.contacts{
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}
.contmap{
  background: url('../img/footermap.png') no-repeat center top;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1270px;
  top: 465px;
}
.contmail{
  background: url('../img/footermail.png') no-repeat center top;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 835px;
  top: 465px;
}
.contphone{
  background: url('../img/footerphone.png') no-repeat center top;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 400px;
  top: 465px;
}
.phobe{
  width: 209px;
  height: 60px;
  position: absolute;
  margin-left: 30px;
  top: 10px;
}
a{
  text-decoration: none;
  color: #BDCEFA;
}
.phobemap{
  top: -10px;
  font-size: 18px;
}
.bgfooter{
  position: absolute;
  width: 1920px;
  height: 105px;
  left: 0px;
  top: 4224px;
  background: #00000F;
}
.elements{
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  color: #DDDDDD;
}
.elem1{
  position: absolute;
  width: 329px;
  height: 18px;
  left: 405px;
  top: 25px;
}
.elem2{
  position: absolute;
  width: 270px;
  height: 18px;
  left: 1245px;
  top: 25px;
}
/****************** ANIMATION **********************/
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
.fade-in-down{
  animation: fadeInd ease 2s;
  -webkit-animation: fadeInd ease 2s;
  -moz-animation: fadeInd ease 2s;
  -o-animation: fadeInd ease 2s;
  -ms-animation: fadeInd ease 2s;
}
.fade-in-right{
  animation: fadeInr ease 2s;
  -webkit-animation: fadeInr ease 2s;
  -moz-animation: fadeInr ease 2s;
  -o-animation: fadeInr ease 2s;
  -ms-animation: fadeInr ease 2s;
}
.fade-in-left{
  animation: fadeInl ease 2s;
  -webkit-animation: fadeInl ease 2s;
  -moz-animation: fadeInl ease 2s;
  -o-animation: fadeInl ease 2s;
  -ms-animation: fadeInl ease 2s;
}
.fade-in-up{
  animation: fadeInu ease 2s;
  -webkit-animation: fadeInu ease 2s;
  -moz-animation: fadeInu ease 2s;
  -o-animation: fadeInu ease 2s;
  -ms-animation: fadeInu ease 2s;
}
/************ FADE-IN ****************/
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
/************ FADE-IN-DOWN ****************/
@keyframes fadeInd{
  0% {
        opacity: 0;
        transform: translateY(-20px);
     }
     100% {
        opacity: 1;
        transform: translateY(0);
     }
}

@-moz-keyframes fadeInd {
  0% {
        opacity: 0;
        transform: translateY(-20px);
     }
     100% {
        opacity: 1;
        transform: translateY(0);
     }
}

@-webkit-keyframes fadeInd {
  0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@-o-keyframes fadeInd {
  0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@-ms-keyframes fadeInd {
  0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
/************ FADE-IN-RIGHT ****************/
@keyframes fadeInr{
  0% {
        opacity: 0;
        transform: translateX(-30px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}

@-moz-keyframes fadeInr {
  0% {
        opacity: 0;
        transform: translateX(-30px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}

@-webkit-keyframes fadeInr {
  0% {
        opacity: 0;
        transform: translateX(-30px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}

@-o-keyframes fadeInr {
  0% {
        opacity: 0;
        transform: translateX(-30px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}

@-ms-keyframes fadeInr {
  0% {
        opacity: 0;
        transform: translateX(-30px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}
/************ FADE-IN-LEFT ****************/
@keyframes fadeInl{
  0% {
        opacity: 0;
        transform: translateX(30px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}

@-moz-keyframes fadeInl {
  0% {
        opacity: 0;
        transform: translateX(30px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}

@-webkit-keyframes fadeInl {
  0% {
        opacity: 0;
        transform: translateX(30px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}

@-o-keyframes fadeInl {
  0% {
        opacity: 0;
        transform: translateX(30px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}

@-ms-keyframes fadeInl {
  0% {
        opacity: 0;
        transform: translateX(30px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}
/************ FADE-IN-UP****************/
@keyframes fadeInu{
  0% {
        opacity: 0;
        transform: translateY(20px);
     }
     100% {
        opacity: 1;
        transform: translateY(0);
     }
}

@-moz-keyframes fadeInu {
  0% {
        opacity: 0;
        transform: translateY(20px);
     }
     100% {
        opacity: 1;
        transform: translateY(0);
     }
}

@-webkit-keyframes fadeInu {
  0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@-o-keyframes fadeInu {
  0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@-ms-keyframes fadeInu {
  0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
